extends base
  
block content 
  // Items List
  section#i1
    each item in items
      .item
        a(href=`/item/${item.id}`)
          img(src=`img/genaral/${item.photo}` alt='')
          ul
            li=item.name
            li=item.price 
            li=item.discount
            li Hurry Up
//- script(src='js/main.js')
