extends base
  
block content 
  // Headline
  .headline
    h1 My Orders
  hr
  // Order Items
  .no-orders
    if(carts.length === 0)
      h1 No more your orders
      hr
      br
  section#my1
    each order in orders
      a(href=`myorderdetails/${order.id}`)
        .my-content
          h1 Your Order
          h1=`${order.carts.length} Items`
      //- img(src=`img/genaral/${cart.photo}` alt=cart.name)
      //- h2.Price=`Rs. ${cart.price}`
  hr
