extends base
  
block content 
  .heading
    h1 My Order Details
  hr
  section#m1
    h1 Your Order Items
    .mybody
      each cart in carts
        .item
          a(href=`/items/${cart.id}`)
            img(src=`/img/genaral/${cart.photo}` alt=cart.name)
            ul
              li=cart.name
              li=cart.price
    hr
    h1#orderid=orders.id
    .details
      h1 Order Details
      p
        strong Address:-
        =address.name
        br
        =`Phone: ${address.phone}`
        br
        =address.address
        br
        =address.city
        br
        =address.state
        br
        =`Pincode: ${address.citycode}`
        br
        hr
      h4=`Total Price:- ${total}`
      h3=`Payment Method:- ${orders.payment}`
      //- h3=`Order Date:- ${orders.orderDate}`
      //- h3=`Order Date:- ${date.split('T')[0]}`
      h3=`Order Date:- ${date}`
    hr
    .myfoote
      button.btn(type='submit' id='backback') Back
      button.btn(type='submit' id='cancel') Cancel Order
